.search_div {
display: flex;
flex-direction: column;
align-items: center;
gap: 30px
}

.tagLine{
    font-weight: bolder;
    font-size: larger;
}

.searchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_field{
    border-radius: 5px;
    padding-left: 10px;
}

.search_button {
    border-radius: 10px;
    border: none;
    background-color: #438e29;
    color: white;
    width: 100px;
}

p {
    margin: 10px;
  }

.fa-search {
    padding-right:3px;
}
