.taskerJobList{
    margin-left: 25%;
    margin-right: 25%;
    margin-top:20px;
    background-color: whitesmoke;
    border-radius:5px ;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap:20px
}

.taskerJobTag{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: solid lightgray;
}

.jobListButton {
    padding: 0 5px 0 5px;
    height: 30px;
    background-color: #438e29;
    border-radius: 3px;
    border: none;
    color: white;
}

.jobListButton:hover {
    cursor: pointer
}

.job_list_button_div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}

.jobListDetails{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    border: solid #438e29;
    border-radius: 5px;
    padding: 25px;
}

.jobListDetails span{
    height: auto;
    width: auto;
    padding: 10px;
}
